ul{
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    li{
        display: inline;
        text-decoration:none;
        color:white;
        padding: 10px;
        font-weight: bold;
    }
    li.active{
        background-color: rgb(11, 196, 26);
    }
}