<div *ngIf="error">To Do List with ID {{ this.id }} is not available</div>

<form>
  <h1>Create To Do List</h1>
  <mat-form-field appearance="outline">
    <mat-label>What are you going to do?</mat-label>
    <input matInput placeholder="What to do?" name="todo" id="todo" [(ngModel)]="item.message" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Deadline Time</mat-label>
    <input matInput placeholder="deadline time?" name="time" id="time" [(ngModel)]="item.time" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>To Do List Status</mat-label>
    <mat-select matNativeControl name="status" id="status" [(ngModel)]="item.status">
      <mat-option value="done">
        Done
      </mat-option>
      <mat-option value="undone">
        Undone
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <div class="buttons">
    <div *ngIf="update">
      <button mat-raised-button color="warn" (click)="deleteItem()">
        delete
      </button>
      <button mat-raised-button color="primary" (click)="updateItem()">
        update
      </button>
    </div>
    <div *ngIf="!update">
      <button mat-raised-button (click)="postItem()" color="primary">
        post
      </button>
    </div>
  </div>
</form>