@import "../../styles.scss";

input[type=text]{
    border: 7px solid white;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
}

input[type=submit]{
    background-color:rgb(11, 196, 26);
    color: white;
    font-size: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 2px 20px;
    text-decoration: none;
    border: none;
}

.close{
    padding: 20px;
}

.time{  
    padding: 10px;
    font-size: 10px;
}
small{
    font-size: 15px;
}
.table {
    padding: 20px;
  
    table {
      width: 100%;
    }
  }